// using erb in javascript/jquery

// render partial comment view
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();

// prepend to div
$('#comments').prepend(new_comment);

// animate
$('#comment_<%= @comment.id %>').fadeIn('slow');

// reset
$('#new_comment')[0].reset();